modules = ["python-3.12", "web", "nodejs-20"]
run = "python main.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 46511158
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
